<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.dormitory.mbg.mapper.InstructorMapper">

    <select id="selectByMidGid" resultType="com.data.dormitory.mbg.model.Instructor">
        select *
        from instructor
        where mid = #{mid}
          AND gid = #{gid}

    </select>

    <select id="selectInstructByPhone" parameterType="java.lang.String" resultType="com.data.dormitory.mbg.model.Instructor">
        SELECT *
        FROM instructor
        WHERE iphone = #{phone}

    </select>
</mapper>
