<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.dormitory.mbg.mapper.StuMapper">
  <resultMap id="BaseResultMap" type="com.data.dormitory.mbg.model.Stu">
    <id column="sid" jdbcType="CHAR" property="sid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="mid" jdbcType="INTEGER" property="mid" />
    <result column="gid" jdbcType="INTEGER" property="gid" />
    <result column="sex" jdbcType="BIT" property="sex" />
    <result column="sname" jdbcType="CHAR" property="sname" />
    <result column="spasswd" jdbcType="VARCHAR" property="spasswd" />
    <result column="sphone" jdbcType="CHAR" property="sphone" />
    <result column="rank" jdbcType="BIT" property="rank" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sid, cid, mid, gid, sex, sname, spasswd, sphone, rank
  </sql>
  <select id="selectByExample" parameterType="com.data.dormitory.mbg.model.StuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from stu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from stu
    where sid = #{sid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from stu
    where sid = #{sid,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.data.dormitory.mbg.model.StuExample">
    delete from stu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.data.dormitory.mbg.model.Stu">
    insert into stu (sid, cid, mid, gid,
      sex, sname, spasswd, sphone,
      rank)
    values (#{sid,jdbcType=CHAR}, #{cid,jdbcType=INTEGER}, #{mid,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER},
      #{sex,jdbcType=BIT}, #{sname,jdbcType=CHAR}, #{spasswd,jdbcType=VARCHAR}, #{sphone,jdbcType=CHAR},
      #{rank,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.data.dormitory.mbg.model.Stu">
    insert into stu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        sid,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="mid != null">
        mid,
      </if>
      <if test="gid != null">
        gid,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="sname != null">
        sname,
      </if>
      <if test="spasswd != null">
        spasswd,
      </if>
      <if test="sphone != null">
        sphone,
      </if>
      <if test="rank != null">
        rank,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sid != null">
        #{sid,jdbcType=CHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="gid != null">
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=BIT},
      </if>
      <if test="sname != null">
        #{sname,jdbcType=CHAR},
      </if>
      <if test="spasswd != null">
        #{spasswd,jdbcType=VARCHAR},
      </if>
      <if test="sphone != null">
        #{sphone,jdbcType=CHAR},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.data.dormitory.mbg.model.StuExample" resultType="java.lang.Integer">
    select count(*) from stu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update stu
    <set>
      <if test="record.sid != null">
        sid = #{record.sid,jdbcType=CHAR},
      </if>
      <if test="record.cid != null">
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.mid != null">
        mid = #{record.mid,jdbcType=INTEGER},
      </if>
      <if test="record.gid != null">
        gid = #{record.gid,jdbcType=INTEGER},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=BIT},
      </if>
      <if test="record.sname != null">
        sname = #{record.sname,jdbcType=CHAR},
      </if>
      <if test="record.spasswd != null">
        spasswd = #{record.spasswd,jdbcType=VARCHAR},
      </if>
      <if test="record.sphone != null">
        sphone = #{record.sphone,jdbcType=CHAR},
      </if>
      <if test="record.rank != null">
        rank = #{record.rank,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update stu
    set sid = #{record.sid,jdbcType=CHAR},
      cid = #{record.cid,jdbcType=INTEGER},
      mid = #{record.mid,jdbcType=INTEGER},
      gid = #{record.gid,jdbcType=INTEGER},
      sex = #{record.sex,jdbcType=BIT},
      sname = #{record.sname,jdbcType=CHAR},
      spasswd = #{record.spasswd,jdbcType=VARCHAR},
      sphone = #{record.sphone,jdbcType=CHAR},
      rank = #{record.rank,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.data.dormitory.mbg.model.Stu">
    update stu
    <set>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="mid != null">
        mid = #{mid,jdbcType=INTEGER},
      </if>
      <if test="gid != null">
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=BIT},
      </if>
      <if test="sname != null">
        sname = #{sname,jdbcType=CHAR},
      </if>
      <if test="spasswd != null">
        spasswd = #{spasswd,jdbcType=VARCHAR},
      </if>
      <if test="sphone != null">
        sphone = #{sphone,jdbcType=CHAR},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=BIT},
      </if>
    </set>
    where sid = #{sid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.data.dormitory.mbg.model.Stu">
    update stu
    set cid = #{cid,jdbcType=INTEGER},
      mid = #{mid,jdbcType=INTEGER},
      gid = #{gid,jdbcType=INTEGER},
      sex = #{sex,jdbcType=BIT},
      sname = #{sname,jdbcType=CHAR},
      spasswd = #{spasswd,jdbcType=VARCHAR},
      sphone = #{sphone,jdbcType=CHAR},
      rank = #{rank,jdbcType=BIT}
    where sid = #{sid,jdbcType=CHAR}
  </update>
</mapper>
